<nav>
  <a class="nav-logo" href="#"><span>Frame</span> & Light</a>
  <ul class="nav-links">
    <li><a href="/home/smoothdiamond45/Documents/Webdevapp/Web-Dev-App-Ass1/views/start.hbs" class="nav-link active" data-page="welcome">Welcome</a></li>
    <li><a href="/home/smoothdiamond45/Documents/Webdevapp/Web-Dev-App-Ass1/views/dashboard.hbs" class="nav-link" data-page="dashboard">Dashboard</a></li>
    <li><a href="/home/smoothdiamond45/Documents/Webdevapp/Web-Dev-App-Ass1/views/about.hbs" class="nav-link" data-page="about">About</a></li>
  </ul>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
