<nav>
  <a class="nav-logo" href="#"><span>Frame</span> & Light</a>
  <ul class="nav-links">
    <li><a href="#" class="nav-link active" data-page="welcome">Welcome</a></li>
    <li><a href="#" class="nav-link" data-page="dashboard">Dashboard</a></li>
    <li><a href="#" class="nav-link" data-page="about">About</a></li>
  </ul>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
